@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #5C2751;
  --secondary-color: #6457A6;
  --accent1-color: #4BC0D9;
  --accent2-color: #76E5FC;
  --heading-font: 'Poppins', sans-serif; 
  --paragraph-font:'Roboto', sans-serif;
}
    

html {
  background-color: var(--primary-color)
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em
}

img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color)
}

header {
  padding: 1em;
  text-align: center;
  color: var(--accent2-color);
  background-color: --primary-color;
}

header>h1 {
  color: --accent2-color
}

p {
  font-family: var(--paragraph-font);
  color:--accent1-color;
  padding: 1em
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center
}

.colors th {
  background-color: #999
}

.colors td {
  width: 25%;
  height: 3em
}

.primary {
  background-color: var(--primary-color)
}

.secondary {
  background-color: var(--secondary-color)
}

.accent1 {
  background-color: var(--accent1-color)
}

.accent2 {
  background-color: var(--accent2-color)
}

nav {
  background-color: var(--accent1-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em
}

nav>ul {
  list-style-type: none;
  display: flex
}

nav a {
  padding: 1em;
  min-width: 70px
}

nav a:link,
nav a:visited {
  color:var(--primary-color)
}

nav a:hover {
  color: var(--accent2-color);
  background-color: var(--primary-color);
}