@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #5C2751;
  --secondary-color: hsl(250, 31%, 50%);
  --accent1-color: #4BC0D9;
  --accent2-color: #76E5FC;
 
  font-family: Poppins, Arial, sans-serif;
}

header, main, footer {
    max-width: 960px;
    margin: .5rem auto;
    
  }
header {
  background-color: #92a8d1;
  display: flex;
  align-items: center;
  justify-content: ;

} 
nav ul {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 2rem;
  font-size: 1rem;
  
} 
li {
  display: flex;
  justify-content: center;
  margin: .5rem;

}

body {
  font-family: Poppins, Arial, sans-serif;
  background-color: #424651;
  font-size: 16px;
 
}


}
main {
    background-color: white
     
}

.specifics{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main section{
  background-color: var(--secondary-color);
}
main p {
  
  padding: 2rem;
 
}
main h2{
  padding: 1rem;
  justify-content: center;
}
footer {
  background-color: #92a8d1;
    
}
footer p {
  font-size: .7rem;
  padding: 1rem;
}
