@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fredericka+the+Great&display=swap');
@import 'partials/mixinsj';
// variables
$color-1: #2B4162; //indigo dye
$color-2: #247BA0; // celedon blue
$color-3: #FE9000; // yellow orange color wheel
$color-4: #F04819; // coquelicot
$color-5: #333333; // jet
$color-6: #ffffff; // white

$width-constant:40vw;
$font-size: 16px;
$shelf-width: 100vw;


*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family:'Coming Soon', sans-serif;
    font-size: $font-size*.75;
    max-width: 1100px;
    margin: auto;
}

.main h3 {
    background-color: $color-1;
    color: $color-3;
    padding: 2em 0;
    margin-top: 0;
    text-align: center;
    
}

.explanation, .participation, .benefits, .requirements{
    border: .25em solid $color-1; 
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
}

.explanation h3::after {
    content: "";    
    background-color: $color-2;
    float: right;
    width: $width-constant;
    height: $width-constant*1.25;
    background-color: $color-2;
    margin: 4em .5em .0 .5em;
}

.participation h3::after {
    content: "";
    float: left;
    width: $width-constant;
    height: $width-constant*1.5;
    background-color: $color-2;
    margin: 4em .5em .0 .5em;    
}

.benefits h3::after {
    content: "";
    width: $width-constant*1.5;
    height: $width-constant*.9;
    background-color: $color-2;
    float: left;  
    margin: 4em .5em .0 .5em; 
}

p {
    padding: 0 .5em;
    text-align: justify;
    
    
}
.design-selection nav {
    margin: auto;
}



.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.design-selection{
    grid-column: 1/3;
    border-top: .25em solid $color-1;
    border-left: .25em solid $color-1;
    border-right: .25em solid $color-1;
    margin:2em 0 0 0;
    @include library(100vw)
    
}
.design-archives{
    border: .25em solid $color-1;
}

.design-archives ul{
    max-width: 100%;
    margin:2em;
    padding: 3.5em 0;
    background-color: $color-2;

}
.design-archives li{
    text-align: center;
    list-style: none;
}
.zen-resources{
    border-top: .25em solid $color-1;
    border-bottom: .25em solid $color-1;
    border-right: .25em solid $color-1;
}



@media only screen and (min-width: 550px){
    body{
        font-size: $font-size;
    } 
    
    .requirements h3::after {
        content: "";
        width: $width-constant*1.25;
        height: $width-constant*1.25;
        background-color: $color-2;
        float: right;  
        margin: 4em .5em .0 .5em; 
    }
  }

  @media only screen and (min-width: 725px){
    
    .intro {
        grid-column: 1/3;
    }
   
    .page-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1em;
    }
    .main{
        grid-column: 1/2;
    }

    aside {
        grid-column: 2/3;
        
    }
    .wrapper {
        border: .25em solid $color-1; 
        margin-bottom: 2em;
        margin-top: 2em;
        display:block;    
    }

    .design-selection{
        font-size:12px ;
        border: .25em solid transparent;
        margin: 1em;        
        @include library(28vw)
    }
        
    .design-selection   h3{
            font-size: 19px;
        }

    .design-archives, .zen-resources{
        border: .25em solid $color-1;
        margin: 1em;
 
    }    

    .explanation h3::after {
        content: "";    
        background-color: $color-2;
        float: left;
        width: 270px;
        height: 360px;
        background-color: $color-2;
        margin: 4em .5em .0 .5em;
    }
    
    .participation h3::after {
        content: "";
        float: right;
        width: 360px;
        height: 216px;
        background-color: $color-2;
        margin: 4em .5em .0 .5em;    
    }
    .benefits h3::after {
        content: "";
        width: 252px;
        height: 144px;
        background-color: $color-2;
        float: left;  
        margin: 4em .5em .0 .5em; 
    }
    
    .requirements h3::after {
        content: "";
        width: 360px;
        height: 720px;
        background-color: $color-2;
        float: right;  
        margin: 4em .5em .0 .5em; 
    }
    
  }
  @media only screen and (min-width: 1100px){
    
    body {
          font-size: $font-size *1.5;
      }

    
    }