:root {
    --primary-color: #396e94;
    --secondary-color: #4C4B63;
    --accent1-color: #e8e7ff;
    --accent2-color: #142634;
    --footer2-color: #949396;
    --footer3-color: #4a4a4b;
    --main-text-color: black; 

   
  }
  
  header, main, footer {
      max-width: 960px;
      margin: .5rem auto;
      
    }

 
 body{
    background-color: var(--footer2-color) ;
    font-size: 16px;
 }


 
    main {
    background-color: white;
        }
    .home{
        display: grid;
        grid-template-columns: 13fr 7fr 8fr 8fr 16fr;
        grid-template-rows: 3.5fr 2.5fr 2.5fr 3fr 5.5fr ;
        grid-gap: 1rem;
        padding: 2rem;
    }
    .goal {
        grid-row: 1/4;
        grid-column: 1/2;

    }
    .family {
        grid-row: 5/6;
        grid-column: 3/6;

    }


    .home2 {
        grid-row: 2/5;
        grid-column:4/6;
        border: 2px solid black;
    }
    .home1 {
        grid-row: 1/3;
        grid-column: 2/5;
        border: 2px solid black;
        z-index: 2;
        align-self: end;

    }
    .home3 {
        grid-row: 3/5;
        grid-column: 2/4;
        border: 2px solid black;
        z-index: 2;

    }
    .home4 {
        grid-row: 4/6;
        grid-column: 1/3;
        border: 2px solid black;
    }





